{% comment %}
  This template lets you extend the templates `head.html` without needing to copy and modify it.
  https://mmistakes.github.io/minimal-mistakes/docs/layouts/#head
{% endcomment %}

{% comment %}
  Initially based on the instructions here:
  https://humberto.stein-shiromoto.net/posts/2022/09/27/blog-post_adding_theme_switch_to_minimal_mistakes

  Instead of using a button that persists to local storage, I use a media query  media query to base it on the user's OS preference.

  Good discussion on the matter: https://github.com/mmistakes/minimal-mistakes/discussions/2033
{% endcomment %}

<link title="main" rel="stylesheet" href="{{ '/assets/css/dark.css' | relative_url }}" media="(prefers-color-scheme: dark)">

{% comment %} https://realfavicongenerator.net/ {% endcomment %}
<link rel="icon" type="image/svg+xml" href="/assets/favicons/favicon.svg" sizes="any">
<link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96" />
<link rel="shortcut icon" href="/assets/favicons/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="Momchilov" />
<link rel="manifest" href="/site.webmanifest" />
